.card__profile-about{
	background-color: $secondaryBackground;
	.col__profile{
		margin-top: 3rem;
		margin-bottom: 7rem;
		width: 100%;
		.card__profiles{
			text-align: justify;
			font-weight: 600;
			color:$white;
			margin-left: 1rem;
			width: 90%;

			.list-group{
				margin-top: 1rem;
				.list-group-item{
					font-size: 13px;
					background-color: transparent;
					color: $white;
					border-top: 1px solid $white;
					border-left-color: $white;
					border-right-color: $white;
					border-bottom-color: $white;
					list-style: none;
				}
			}
		}
	}
}
.card__project-about{
	margin-top: 2rem;
	background-color: $secondaryBackground;
	.col__profile{
		margin-top: 3rem;
		margin-bottom: 7rem;
		width: 100%;
	}
}
.card__project-about{}

@media (min-width: 991px) and (max-width:1200px) {}

@media (min-width: 992px) {
	.card__profile-about{
		background-color: $secondaryBackground;
		.col__profile{
			margin-left: -9rem;
			margin-top: 3rem;
			margin-bottom: 7rem;
			.card__avatars{
				perspective: 500px;
				margin-left: 5rem;
				.card__content{
					width: 350px;
					height: 430px;
					background-size: cover;
					border:5px solid rgba(255, 255, 255, .25);
					border-radius: 4px;
					position: relative;
					transform-style: preserve-3d;
					will-change: transform;
					transition: transform .5s;
					&:hover{
						transform: translateZ(10px)
						rotateX(20deg) rotateY(30deg);
					}
					.card__content-title{
						color: $white;
						position: absolute;
						top: 50%;
						right: -65px;
						transform: translateY(-50%);
						transition: transform .5s;
						font-size:1.3rem;
					}
				}
				.card__content:hover .card__content-title{
					transform: translateZ(50px);
				}
			}
			.card__profiles{
				text-align: justify;
				font-weight: 600;
				color:$white;
				margin-left: 5rem;
				width: 100%;
				.list-group{
					margin-top: 1rem;
					.list-group-item{
						background-color: transparent;
						color: $white;
						border-top: 1px solid $white;
						border-left-color: $white;
						border-right-color: $white;
						border-bottom-color: $white;
						list-style: none;
					}
				}
			}
		}
	}
	.card__project-about{
		margin-top: 2rem;
		background-color: $secondaryBackground;
		.col__profile{
			margin-top: 3rem;
			margin-bottom: 7rem;
			.card__project{

			}
		}
	}
}