.about__view{
	overflow-y: hidden;
	margin-top: 5rem;
	.card__profile-about{
		box-shadow: 5px 3px 2px 1px $boxShadow;
		background-color: $secondaryBackground;
		.col__profile{
			margin-top: 3rem;
			margin-bottom: 3rem;
			.card__profiles{
				text-align: justify;
				font-weight: 400;
				color:$white;
				margin-left: 1rem;
				width: 90%;

				blockquote{
					color: $white;
				}

				.list-group{
					margin-top: 1rem;
					.list-group-item{
						font-size: 13px;
						background-color: transparent;
						color: $white;
						border-top: 1px solid $white;
						border-left-color: $white;
						border-right-color: $white;
						border-bottom-color: $white;
						list-style: none;
					}
				}
			}

			.card__profiles-col2{
				text-align: justify;
				font-weight: 400;
				color:$white;
				margin-left: 1rem;
				width: 90%;

				blockquote{
					color: $white;
				}

				.list-group{
					margin-top: 1rem;
					.list-group-item{
						font-size: 13px;
						background-color: transparent;
						color: $white;
						border-top: 1px solid $white;
						border-left-color: $white;
						border-right-color: $white;
						border-bottom-color: $white;
						list-style: none;
					}
				}
			}
		}
	}
	.card__project-about{
		margin-top: 2rem;
		background-color: $secondaryBackground;
		box-shadow: 5px 3px 2px 1px $boxShadow;

		.col__header-about{
			color: $white;
			margin-left: -1rem;
			margin-bottom: 1rem;
			h2{
				text-align: center;
			}
			blockquote{
				margin-left: 1.3rem;
				font-size: 14px;
				word-spacing: 1px;
				letter-spacing: 2px;
			}
		}
		.col__project{
			margin-top:1rem;
			margin-bottom: 5rem;
			.truncate {
				display: -webkit-box;
				-webkit-line-clamp: var(--line-clamp, 4);
				-webkit-box-orient: vertical;
				word-break: var(--word-break, "none");
				overflow: hidden;
				hyphens: auto;
				text-align: var(--align, left);
				--is-single-line: 1 - Clamp(0, Calc(var(--line-clamp) - 1), var(--line-clamp));
				--delay: Calc(-1s * (var(--is-single-line, 1) - 1));
				animation: states 1s var(--delay) paused;
				@keyframes states {
					0% {
						word-break: break-all;
					}
				}
			}
			.game{
				margin-left: 3.5rem;
				img{
					max-width:100%;
				}
				.btn{
					cursor:pointer;
					padding:.5em 1em;
					border:0;
					background:var(--clr-secondary);
					color:var(--clr-light);
					font-weight:bold;
					border-radius:12px;

				}
				position:relative;
				width:12rem;

				.rank{
					color: coral;
				}

			}
			.streamers{
				display:flex;
				text-align:center;
				img{
					margin-top: -1.3rem;
					width:2rem;
					height:2rem;
					border-radius:50%;
				}
			}
			.front{
				transition:200ms;
				& > img{
					border-radius:12px;
				}
				.name{
					margin:0.75em 0;
					margin-top: 1rem;
					font-size: 18px;
					color: $white;
				}
				.status{
					display:flex;
					justify-content:space-between;
					align-items:center;  
					.viewers{
						color: $white!important;
					}
				}
				.streamers img{
					border:1px solid var(--clr-dark);
					&:nth-child(1){
						z-index:1;
						transform:translateX(15px);
					}
					&:nth-child(2){
						transform:translateX(10px);
					}

				}
			}

			.back{
				position:absolute;
				top:56%;
				left:0;
				right:0;
				opacity:0;
				display:flex;
				flex-direction:column;
				align-items:center;
				gap:1em;
				.streaming-info{
					columns:1;
					column-rule:1px solid rgba(255,255,255,0.6); 
				}
				.game-stat{
					font-size:.7rem;
					text-align:center;
					color: $white;
					font-weight: 500;
					word-spacing: 2px;
					letter-spacing: 2px;

					span{
						display:block;
						font-size:.8rem;
					}
				}
				.streamers{
					display:flex;
				}
			}
			.backgroundWrapper{
				position:absolute;
				top:3px;
				left:0;
				right:0;
				bottom:0;
				background:$cardHoverBg;
				z-index:-1;
				transform:scale(.2,.8);
				opacity:0;
				border-radius:12px;
			}
			.game:hover {
				margin-bottom: 7.5rem;
				z-index: 1;
				.front{
					transform:translateY(-25%) scale(.8);
					.name{
						animation:gameName 150ms forwards;
						font-size: 23px;
						letter-spacing: 1px;
						word-spacing: 2px;
						color: $white;
						font-weight: 800;
					}
					.status{
						opacity:0;
					}
				}
				.back{
					opacity:1;
					.streamers{
						width:250px;
						margin-top: 7px;
						justify-content:space-between;
					}
					.streamer{
						font-size:.9rem;
					}
					.name{
						font-weight:bold;
						color: $white;
					}
				}
				.rank{
					top:-35px;
					right:-30px;
					color: $white;
				}
				.backgroundWrapper{
					transition:transform 200ms ease-in-out, opacity 100ms linear;
					opacity:1;
					transform:scale(1.4,1.2);
				}
			}

			.rank{
				position:absolute;
				right:15px;
				font-weight:bold;
				font-size:1.12rem;
				background:rgba(0,0,0,0.75);
				padding:.5em .5em;
				clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%,0 0);
				transition:250ms ease-in-out;
			}

			@keyframes gameName{
				0%{
					text-align:left;
					opacity:1;
				}
				20%{
					text-align:left;
					opacity:0;
				}
				50%{
					text-align:center;
					opacity:0;
				}
				100%{
					text-align:center;
					opacity:1;
				}
			}
		}
	}
}

@media (min-width: 991px) and (max-width:1200px) {
	.card__profile-about{
		.col__profile{
			.card__profiles{
				margin-left: 15rem!important;
			}
		}
	}
}

@media (min-width: 992px) {
	.about__view{
		margin-top: 5rem;
		.card__profile-about{
			background-color: $secondaryBackground;
			box-shadow: 5px 7px 2px 1px $boxShadow;
			.col__profile{
				margin-left: -9rem;
				margin-top: 3rem;
				margin-bottom: 7rem;
				.card__avatars{
					perspective: 500px;
					margin-left: 5rem;
					.card__content{
						width: 350px;
						height: 430px;
						background-size: cover;
						border:5px solid rgba(255, 255, 255, .25);
						border-radius: 4px;
						position: relative;
						transform-style: preserve-3d;
						will-change: transform;
						transition: transform .5s;
						&:hover{
							transform: translateZ(10px)
							rotateX(20deg) rotateY(30deg);
						}
						.card__content-title{
							color: $white;
							position: absolute;
							top: 50%;
							right: -65px;
							transform: translateY(-50%);
							transition: transform .5s;
							font-size:1.3rem;
						}
					}
					.card__content:hover .card__content-title{
						transform: translateZ(50px);
					}
				}
				.card__profiles{
					text-align: justify;
					font-weight: 400;
					color:$white;
					margin-left: 7rem!important;
					width: 100%;
					blockquote{
						letter-spacing: 2px;
					}
					span{
						letter-spacing: 2px;
					}
					.list-group{
						margin-top: 1rem;
						.list-group-item{
							font-size: 16px;
							background-color: transparent;
							color: $white;
							border-top: 1px solid $white;
							border-left-color: $white;
							border-right-color: $white;
							border-bottom-color: $white;
							list-style: none;
						}
					}
				}
			}
		}
		.card__project-about{
			margin-top: 3rem;
			margin-bottom: 5rem;
			background-color: $secondaryBackground;
			box-shadow: 5px 7px 2px 1px $boxShadow;

			// @include col_project;
		}
	}
}