
.detail__project-view{
	margin-top: 5rem;
	.container{
		.card__project-detail{
			background-color: $secondaryBackground;
			box-shadow: 5px 7px 2px 1px $boxShadow;

			width: 100%;
			.col__detail-project{
				margin-left: -18rem;
				margin-top: 3rem;
				margin-bottom: 7rem;
				width: 80%;

				.content__project{
					.no-gallery{
						width: 100%;
						margin-left: 9.5rem;
						margin-top: 5rem;
					}
					.bg__project{
						margin-left: 9rem;
						padding-bottom: 12px;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 37vh;
						width: 75vw;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						background-position-x: center;
						.frosted-glass {
							color: $textBg;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 70vw;
							height: 36vh;
							box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
							0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
							0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
							backdrop-filter: blur(1px);
							transition: 0.5s ease;

							&:hover {
								box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
								0 2.7px 3.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
								0 8.3px 12px rgba(0, 0, 0, 0.346), 0 30px 40px rgba(0, 0, 0, 0.5);
							}

							.title {
								text-transform: capitalize;
								padding-left: 0.375em;
								font-family: 'Poppins';
								font-weight: 600;
								letter-spacing: 0.1rem;
								margin-top: 1rem;
								text-align:center;
								text-shadow: 1px 1px 2px coral, 0 0 1em salmon, 0 0 0.2em khaki;
								-webkit-backdrop-filter: blur(10px);
								backdrop-filter: blur(10px);
								background-color: rgba(194, 188, 188, 0.7);

								@media (max-width: 640px) {
									font-size: 1.3em;
									font-family: 'Poppins';
								}
							}

						}
					}

					.blocks{
						color: $white;
						letter-spacing: 0.1rem;
						font-size: 1rem;
						line-height: 25px;
						text-align: justify;
						margin-top: .5rem;
						margin-left: 8rem;
						padding-left: 1rem;
						width: 105%;
						text-indent: 5px;
					}

				}
			}
		}
	}
}

@media (min-width: 991px) and (max-width:1200px) {}

@media (min-width: 992px) {
	.detail__project-view{
		margin-top: 5rem;
		.container{
			.card__project-detail{
				background-color: $secondaryBackground;
				box-shadow: 5px 7px 2px 1px $boxShadow;

				width: 100%;
				.col__detail-project{
					margin-left: -9rem;
					margin-top: 3rem;
					margin-bottom: 7rem;
					width: 100vw;

					.content__project{
						.no-gallery{
							margin-left: 15rem;
							margin-top: 5rem;
							width: 80%;
						}
						.bg__project{
							margin-left: 4rem;
							box-shadow: 4px 4px 0.5px 1px $secondBgCardImage;
							display: flex;
							justify-content: center;
							align-items: center;
							height: 75vh;
							width: 100%;
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							background-position-x: center;
							.frosted-glass {
								color: $textBg;
								display: flex;
								justify-content: center;
								align-items: center;
								width: 72vw;
								height: 36vh;
								margin-top: 3rem;
								box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126),
								0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224),
								0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
								backdrop-filter: blur(7px);
								transition: 0.5s ease;

								&:hover {
									box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.157),
									0 1.7px 2.6px rgba(0, 0, 0, 0.224), 0 3.5px 5.3px rgba(0, 0, 0, 0.28),
									0 7.3px 11px rgba(0, 0, 0, 0.346), 0 20px 30px rgba(0, 0, 0, 0.5);
								}

								.title {
									text-transform: capitalize;
									padding-left: 0.375em;
									font-size: 2em;
									font-family: 'Poppins';
									font-weight: 600;
									letter-spacing: 0.7rem;
									margin-top: 1rem;
									text-shadow: 1px 1px 2px coral, 0 0 1em salmon, 0 0 0.2em khaki;
									-webkit-backdrop-filter: blur(10px);
									backdrop-filter: blur(10px);
									background-color: rgba(194, 188, 188, 0.3);

									@media (max-width: 640px) {
										font-size: 2em;
									}
								}
								
							}
						}

						.blocks{
							color: $white;
							letter-spacing: 0.1rem;
							font-size: 1rem;
							line-height: 25px;
							text-align: justify;
							margin-top: 2rem;
							margin-left: 15rem;
							padding-left: 1rem;
							width: 80%;
							text-indent: 25px;
						}

					}
				}
			}
		}
	}
}