.home__view{
  .card__profile-home {
    .profile__board {
      margin-bottom: 1rem;
      .profile__info{
        background-color: $secondaryBackground!important;
        border-radius: 13px!important;
        color: $white;
        margin-top: 2rem;
        .showcase {
          width: 100%;
          height: 10vh;
          position: relative;
          video {
            width: 100%;
            height: 80%;
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 1rem;
            object-fit: cover;
          }
          .profile-name{
            width: 108%;
            height: 80%;
            background-color: $secondaryBackground;
            font-size: 61px;
            color: #fff!important;
            mix-blend-mode: darken;
          }
        }
      }
      .social__link {
        margin-top:2rem;
        margin-bottom: 3rem;
        .list-group {
          .list-group-item {
            border: none;
            background-color: transparent!important;
            a {
              font-size:21px!important;
            }
          }
        }
      }
    }
    .skill__block {
      background-color: $secondaryBackground!important;
      border-radius: 13px!important;
      margin-top: 2rem!important;
      padding: 30px !important;
      text-align: left!important;
      .key__block {
        img{
          filter: drop-shadow(0 0 0.55rem crimson);
        }
      }
    }
    .card__avatar{
      position: relative;
      width: 350px;
      height: 450px;
      color: $bgCardImage;
      background-size: cover;
      filter: brightness(90%);
      border-radius: 13px;
      overflow: hidden;
      cursor: pointer;
      .card__content{
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        height: 150px;
        padding: 25px;
        background-color: $cardHoverBg;
        border-top-left-radius: 20px;
        transform: translateY(70px);
        transition: transform .25s;
        &:before{
          content: '';
          position: absolute;
          top: -47px;
          right: -45px;
          width: 100px;
          height: 100px;
          transform: rotate(-175deg);
          border-radius: 50%;
          box-shadow: inset 48px 48px $cardHoverBg;
        }
        .btn__detail{
          a{            
            color: $white;
            text-decoration: none;
          }
        }
        .card__title{
          color: $white;
          line-height: 15px;
        }
        .card__subtitle{
          display: block;
          font-size: 17px;
          margin-bottom: 10px;
        }
        .card__description{
          color: $white;
          font-size: 13px;
          opacity:0;
          transition: opacity 1.5s;
        }
      }
      &:hover .card__content{
        transform: translateY(0);
        height: 290px;
      }

      &:hover .card__description{
        opacity: 1;
        transition-display: .35s;
      }
    }


    @media (min-width: 991px) and (max-width:1200px) {
      .skill__block {
        border-radius: 13px!important;
        width: 30%;
        padding: 32px !important;
        .key__block {
          img{
            filter: drop-shadow(0 0 0.55rem crimson);
          }
        }
      }
    }

    @media (min-width: 1200px) {
      .card__avatar{
        position: relative;
        width: 350px;
        height: 450px;
        color: $bgCardImage;
        background-size: cover;
        filter: brightness(90%);
        border-radius: 13px;
        overflow: hidden;
        cursor: pointer;
        .card__content{
          position: absolute;
          left:0;
          bottom: 0;
          width: 100%;
          height: 130px;
          padding: 25px;
          background-color: $cardHoverBg;
          border-top-left-radius: 20px;
          transform: translateY(70px);
          transition: transform .25s;
          &:before{
            content: '';
            position: absolute;
            top: -47px;
            right: -45px;
            width: 100px;
            height: 100px;
            transform: rotate(-175deg);
            border-radius: 50%;
            box-shadow: inset 48px 48px $cardHoverBg;
          }
          .btn__detail{
            a{            
              color: $white;
              text-decoration: none;
            }
          }
          .card__title{
            color: $white;
            line-height: 15px;
          }
          .card__subtitle{
            display: block;
            font-size: 17px;
            margin-bottom: 10px;
          }
          .card__description{
            color: $white;
            font-size: 13px;
            opacity:0;
            transition: opacity 1.5s;
          }
        }
        &:hover .card__content{
          transform: translateY(0);
          height: 290px;
        }

        &:hover .card__description{
          opacity: 1;
          transition-display: .35s;
        }
      }
      .profile__board{
        .profile__info{
          border-radius: 13px!important;
          color: $white;
          margin-top: -.1rem;
          height: 15vh;
          background-color: $secondaryBackground!important;
          box-shadow: 5px 3px 2px 1px $boxShadow;
          .showcase {
            width: 100%;
            height: 10vh;
            position: relative;
            video {
              width: 100%;
              height: 80%;
              position: absolute;
              top: 0;
              left: 0;
              margin-left: 1rem;
              object-fit: cover;
            }
            .profile-name{
              width: 108%;
              height: 80%;
              background-color: $secondaryBackground;
              font-size: 61px;
              color: #fff!important;
              mix-blend-mode: darken;
            }
          }
          .social__link {
            margin-top: 2.5rem;
            .list-group {
              margin-top: -1.5rem;
              margin-bottom: -3rem;
              .list-group-item {
                border: none;
                background-color: transparent!important;
                a {
                  font-size:21px!important;
                }
              }
            }
          }
        }
        .skill__block {
          background-color: $secondaryBackground!important;
          border-radius: 13px!important;
          margin-top: 2rem!important;
          padding: 30px !important;
          text-align: left!important;
          .key__block {
            img{
              filter: drop-shadow(0 0 0.55rem crimson);
            }
          }
        }
      }
    }


    .truncate {
      display: -webkit-box;
      -webkit-line-clamp: var(--line-clamp, 4);
      -webkit-box-orient: vertical;
      word-break: var(--word-break, "none");
      overflow: hidden;
      hyphens: auto;
      text-align: var(--align, left);
      --is-single-line: 1 - Clamp(0, Calc(var(--line-clamp) - 1), var(--line-clamp));
      --delay: Calc(-1s * (var(--is-single-line, 1) - 1));
      animation: states 1s var(--delay) paused;
      @keyframes states {
        0% {
          word-break: break-all;
        }
      }
    }
  }
}