#app {
 margin:0;
 padding:0;
 overflow-x:hidden;
 font-family: Avenir, Helvetica, Arial, sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 color: #2c3e50;
 place-content: center;
 background-color: $bgApp;
 background-image:  linear-gradient(30deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(150deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(30deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(150deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(60deg, #373c4177 25%, transparent 25.5%, transparent 75%, #373c4177 75%, #373c4177), linear-gradient(60deg, #373c4177 25%, transparent 25.5%, transparent 75%, #373c4177 75%, #373c4177);
 background-size: 20px 35px;
 background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
 width: 100%;
 height: auto;

 @media (min-width: 1200px) {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  place-content: center;
    // background: $secondaryBackground;
    background-color: $bgApp;
    background-image:  linear-gradient(30deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(150deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(30deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(150deg, #373c41 12%, transparent 12.5%, transparent 87%, #373c41 87.5%, #373c41), linear-gradient(60deg, #373c4177 25%, transparent 25.5%, transparent 75%, #373c4177 75%, #373c4177), linear-gradient(60deg, #373c4177 25%, transparent 25.5%, transparent 75%, #373c4177 75%, #373c4177);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    height: auto;
  }
  
  @import "@/scss/_layout.scss";

  @import "@/scss/_mixins.scss";

  @import "@/scss/_home.scss";

  @import "@/scss/_about.scss";

  @import "@/scss/_detail.scss";

  @import "@/scss/_gallery.scss";

  @import "@/scss/_repo.scss";

  @import "@/scss/_blog.scss";

  @import "@/scss/_artwork-blog.scss";
}

<<<<<<< HEAD
=======
.card__profile-home{
	margin-top: 2rem;
	.social__link{	
		.list-group{
			.list-group-item{
				border: none;
				background-color: transparent!important;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
	}

	.bg-black {
		background: #000;
	}

	.skill-block {
		width: 30%;
	}

	@media (min-width: 991px) and (max-width:1200px) {
		.skill-block {
			padding: 32px !important;
		}
	}

	@media (min-width: 1200px) {
		margin-top: 2rem;
		.social__link{	
			.list-group{
				margin-top: -1.5rem;
				margin-bottom: -3rem;
				.list-group-item{
					border: none;
					background-color: transparent!important;
					a{
						font-size:18px!important;
					}
				}
			}
		}
		.skill-block {
			padding: 33px !important;
			text-align: left!important;
		}
	}


	.truncate {
		display: -webkit-box;
		-webkit-line-clamp: var(--line-clamp, 4);
		-webkit-box-orient: vertical;
		word-break: var(--word-break, "none");
		overflow: hidden;
		hyphens: auto;
		text-align: var(--align, left);
		--is-single-line: 1 - Clamp(0, Calc(var(--line-clamp) - 1), var(--line-clamp));
		--delay: Calc(-1s * (var(--is-single-line, 1) - 1));
		animation: states 1s var(--delay) paused;
		@keyframes states {
			0% {
				word-break: break-all;
			}
		}
	}
}
>>>>>>> 7a4335c (update style)
