@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
$white: #fff;
$black: #000;
$primaryBackground: #bacad9;
$secondaryBackground: #000;
$bgApp:#040404;
$bgBoard: silver;
$active: lightslategray;
$bgCardImage: #a18a56;
$cardTextColor: #6A515E;
$cardHoverBg:#333231;