@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
  --size: 3vmin;
  --white: #fff;
  --blue: #3051f1;
  --purple: #c92bb7;
  --red: #f73344;
  --orange: #fa8e37;
  --yellow: #fcdf8f;
  --yellow_to: #fbd377;
   --clr-dark:rgb(13,17,19);
  --clr-light:#fff;
  --clr-secondary:#0A84FF;
}

$white: #fff;
$textBg: rgb(110, 82, 82);
$black: #000;
$cardBackground: #212529;
$primaryBackground: #bacad9;
$secondaryBackground: #000;
$bgApp:#040404;
$bgBoard: silver;
$active: lightslategray;
$bgCardImage: #a18a56;
$secondBgCardImage: rgba(140, 112, 120, 0.7);
$cardTextColor: #6A515E;
$cardHoverBg:#333231;
$boxShadow: $cardBackground;
$blue: #3051f1;
$purple: #c92bb7;
$red: #f73344;
$orange: #fa8e37;
$yellow: #fcdf8f;
$yellow_to: #fbd377;
$whatsappBg: #3AC371;